.Input {
    background-color: #ccc;
    border-radius: 8px;
    border: 2px solid #fff;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    padding: 8px 16px;
}

.Input:focus {
    border-color: aqua;
}

.Input--error {
    border-color: red;
    margin-bottom: 0;
}