.Form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
}

.Form__label {
    margin: 24px 0;
}
.Form__warning {
    color: yellow;
    display: block;
    font-size: 12px;
}

.Form__error {
    color: red;
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;
}